.targeta-element {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.capcalera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-estrella {
  background: none;
  border: none;
  font-size: 18px;
  color: gold;
  cursor: pointer;
}

.insider-alert {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}
