<nav style="display: flex; gap: 15px; padding: 15px; background: #333; color: white;">
  <a routerLink="/cataleg" routerLinkActive="actiu" [routerLinkActiveOptions]="{exact: true}" style="color: white; text-decoration: none;">Cataleg</a>
  <a routerLink="/cerca" routerLinkActive="actiu" style="color: white;  text-decoration: none;">Cerca</a>
  <a routerLink="/preferits" routerLinkActive="actiu" style="color: white; text-decoration: none;">Preferits</a>
  <a routerLink="/login" routerLinkActive="actiu" style="color: white;  text-decoration: none; margin-left: auto;">Login</a>
</nav>
